@if (TempData.ContainsKey("message"))
{
    var message = MessageModel.Desserializer(TempData["message"]!.ToString()!);
    @if (message.Type == TypeMessage.Error)
    {
        <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            @message.Text
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            @message.Text
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}