@{
    ViewBag.Subtitle = "Home page";
}

<h1 class="text-primary">Welcome to <b>StoreWeb</b></h1>
<hr>
<p>This web aplication allows to manager your products stock. 
    Use the menu above to access the aplication's features.</p>