@model IEnumerable<CategoryModel>

@{
    ViewBag.Subtitle = "List of categories";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitle</h1>
    </div>
    <div>
        <a asp-action="Register" class="btn btn-primary">New Category</a>
    </div>
</header>
<hr>

<partial name="_Message"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-category">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <body>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a asp-action="Register" asp-route-id="@category.IdCategory" class="btn btn-sm btn-secondary">Update</a>
                        <a asp-action="Delete" asp-route-id="@category.IdCategory" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </body>
    </table>
}
else
{
    <a>No categories have been created!</a>
}